.feature{
    margin-top: 4rem;
}
.feature .line1 {
    height: 2px;
    position: absolute;
    background-image: linear-gradient(to left, gray, rgb(232, 230, 230));
    width: 400px;
    bottom: 50%;
    left: 15%;
  }
  
  .feature .line2 {
    height: 2px;
    position: absolute;
    background-image: linear-gradient(to right, gray, rgb(232, 230, 230));
    width: 400px;
    bottom: 50%;
    right: 15%;
  }
  
  .feature .feature-head {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  
  .feature .feature-head h1 {
    font-weight: bold;
    font-family: "Oswald", Sans-serif;
    font-size: 50px;
    color: black;
  }
  
  .news {
    text-align: center;
  }
  
  .news img {
    padding-left: 20px;
  }
  
  .news img:hover {
    opacity: 0.7;
  }
  
  .destination {
    text-align: center;
    align-items: center;
    margin-top: 7rem;
  }
  
  .destination .image{
    height: 250px;
  }

  .destination .image img {
    width: 400px;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .destination .image img:hover {
    opacity: 0.7;
  }
  
  .destination .image h5 {
    color: #313131;
    font-family: "Philosopher", Sans-serif;
    font-size: 26px;
    font-weight: 400;
    margin-top: 20px;
  }
  
  .thanks .row{
    margin-top: 7rem;
  }
  
  .thanks h2 {
    font-weight: bold;
    color: black;
  }
  
  .thanks img {
    box-shadow: 10px 10px 20px 0px #909090;
    cursor: pointer;
    width: 450px;
    height: 580px;
  }
  
  .thanks img:hover {
    opacity: 0.7;
  }
  
  .thanks p {
    margin-top: 25px;
    font-size: 1.2rem;
    color: #6e716c;
  }
  
  
  .thanks p span {
    color: #ea6235;
  }
  
  .thanks p .name {
    color: #6e716c !important;
    font-weight: bolder !important;
  }
  
  .thanks button {
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-weight: 500;
    border: 2px solid black;
  }
  
  .thanks button:hover {
    background-color: #ea6235;
    border: 2px solid #ea6235;
    color: white;
  }
  
  
  .thanks button i {
    padding-left: 5px;
  }


  


/* responsive */


@media (max-width:1480px){
   .feature .line1,
  .feature .line2 {
    display: none; 
  }

}

@media (max-width:1270px){
  .destination .image img{
    width: 360px;
  }
  .thanks img{
    width: 400px;
  }
}

@media (max-width:1180px){
    .destination .image img{
    width: 300px;
    height: 200px;
  }
  .thanks .row{
    margin-top: 3rem;
  }
}

@media (max-width:1100px){
    .thanks img{
    width: 350px;
  }
}

@media (max-width:1030px){
  .destination{
    margin-top: 3rem;
  }
  .thanks h2{
    font-size: 22px;
  }
  .thanks img{
    height: 450px;
    width: 350px;
  }
  .thanks p{
    font-size: 15px;
  }
  .thanks button{
    font-size: 8px;
    width: 90px;
  }
  .news img{
    width: 130px;
  }
}

@media (max-width:950px){
  .news img{
    width: 180px;
  }
}

@media (max-width:885px){
   .thanks h2{
    font-size: 20px;
  }
  .thanks p{
    font-size: 10px;
  }
  .thanks button{
    font-size: 8px;
    width: 90px;
  }
  .thanks img{
    width: 300px;
    height: 500px;
  }
}

@media (max-width:844px){
    .feature{
    margin-top: 2rem;
  }
}
  

@media (max-width:771px){
.feature .feature-head h1 {
  font-size: 40px;
  margin-bottom: 0;
}
 .news img {
  width: 130px;
}
}

@media (max-width:540px){
.feature .feature-head h1 {
  font-size: 35px;
  margin-bottom: 0;
}
 .news img {
  width: 100px;
}
    .destination .image img{
    width: 250px;
    height: 150px;
  }
  .destination .image {
    height: 200px;
  }
}

@media (max-width:502px){
  .feature{
    margin-top: 1rem;
  }
.feature .feature-head h1 {
  font-size: 35px;
  margin-bottom: 0;
}
 .news img {
  width: 100px;
}
}

@media (max-width:450px){
  .feature{
    margin-top: 0.5rem;
  }
.feature .feature-head h1 {
  font-size: 35px;
  margin-bottom: 0;
}
 .news img {
  width: 90px;
}
}


@media (max-width:767px){
   .thanks h2{
    font-size: 25px;
  }
  .thanks p{
    font-size: 13px;
  }
  .thanks button{
    font-size: 8px;
    width: 90px;
  }
  .thanks img{
    display: none;
  }
  .thanks{
    margin-top: 0;
  }
}

@media (max-width:330px){
      .destination .image img{
    width: 230px !important;
  }
  .destination .image {
    height: 200px;
  }
}
